* {
    margin: 0;
    padding: 0;
  }
  body {
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 60vh;
  }

h1{
  text-align: center;
}


.navbar {
  z-index: 899;
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
}